{% extends 'web/base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block body %}
  <!--contact section end -->
  <div class="Contact_section layout_padding">
      <div class="container">
        <h1 class="categories_text">Rqueste a call back</h1>
        <p class="services_text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered a</p>
        <div class="email_box">
          <div class="input_main">
            <form action="/action_page.php">
              <div class="form-group">
                <input type="text" class="email-bt" placeholder="Name" name="Name">
              </div>
              <div class="form-group">
                <input type="text" class="email-bt" placeholder="Phone" name="Phone">
              </div>
              <div class="form-group">
                <input type="text" class="email-bt" placeholder="Email" name="Email">
              </div>
              <div class="form-group">
                <textarea class="massage-bt" placeholder="Massage" rows="5" id="comment" name="Massage"></textarea>
              </div>
            </form>   
          <div class="send_bt"><a href="#">SEND</a></div>                  
          </div>
        </div>
      </div>
      <div class="map_section layout_padding">
        <div class="container-fluid padding_0">
          <div class="map_main">
            <div class="map-responsive">
              <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="580" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--contact section end -->
    <div class="contact_section_2 layout_padding">
      <div class="container">
        <h1 class="services_taital">Our Trainer</h1>
        <p class="services_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a</p>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="duit_box">
                <h1 class="duis_text">Duis aute</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
              <div class="quote_icon"><img src="{% static 'web/images/quote-icon.png' %}"></div>
            </div>
            <div class="carousel-item">
              <div class="duit_box">
                <h1 class="duis_text">Duis aute</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
              <div class="quote_icon"><img src="{% static 'web/images/quote-icon.png' %}"></div>
            </div>
            <div class="carousel-item">
              <div class="duit_box">
                <h1 class="duis_text">Duis aute</h1>
                <p class="dolor_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. x ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate</p>
              </div>
              <div class="quote_icon"><img src="{% static 'web/images/quote-icon.png' %}"></div>
            </div>
          </div>
        </div>
      </div>      
    </div>
{% endblock %}