{% extends 'web/base.html' %}
{% load static %}

{% block title %}
About
{% endblock %}

{% block body %}
  <!--services section start -->
  <div class="services_section layout_padding">
    <div class="container">
      <h1 class="services_taital">Our Services</h1>
      <p class="services_text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a</p>
      <div class="services_section_2 layout_padding">
        <div class="row">
          <div class="col-sm-4">
            <div class="box_main">
              <div class="icon_1"></div>
              <h6 class="heavy_text">HEAVY WEIGHT <br>CLASSES</h6>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box_main active">
              <div class="icon_2"></div>
              <h6 class="heavy_text active">BODY BUILDING <br>CLASSES</h6>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="box_main">
              <div class="icon_3"></div>
              <h6 class="heavy_text">WEIGHT LOSS <br>CLASSES</h6>
            </div>
          </div>
        </div>
        <div class="read_bt"><a href="#">READ MORE</a></div>
      </div>
    </div>
  </div>
  <!--services section end -->
{% endblock %}