{% extends 'dashboard/base.html' %}

{% block title %}
Update
{% endblock %}

{% block body %}
<div class="container">
    <div class="row d-flex justify-content-center">
        <div class="col-sm-6" >
            <fieldset >
                <legend class="text-center mb-5">
                    Update form
                </legend>

                <form action="{% url 'update_post' post_id=post.id %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <img src="{{post.image.url}}" width="100px" alt=""><br>
                    <p>Old Image</p>
                    <br>

                    <label for="">Upload Image</label>
                    <input type="file" name="post_image" class="form-control mb-3" id="">

                    <label for="">Title</label>
                    <input type="text" name="title" class="form-control mb-3" id="" value="{{post.title}}">

                    <label for="">Content</label>
                    <textarea name="content" class="form-control mb-3" id="">{{post.content}}</textarea>

                    <input type="submit" name="" id="" class="btn btn-dark" value="Update">
                </form>
            </fieldset>
        </div>
    </div>
</div>
{% endblock %}